.o_form_sheet {
    .o_resume_line {
        width: 100%;
    }

    .o_list_view tbody:first-of-type > tr.o_resume_group_header:first-child {
        box-shadow: none;
    }

    .o_group_skills th.o_group_name {
        background-color: #e9ecef;
    }

    .o_group_resume tbody tr.o_resume_group_header th {
        font-weight: normal;
    }
}
