.o_graph_controller {
    .o_graph_renderer {
        height: 100%;
        overflow: auto;
        .o_graph_svg_container {
            direction: ltr#{"/*rtl:ignore*/"};
            height: 100%;
            overflow: auto;
            svg {
                background-color: $o-view-background-color;
                .nv-y {
                    path.domain, g.tick.zero {
                        // Hide y axis line and zero tick label
                        display: none;
                    }
                }
                .nv-axis.nv-x path.domain {
                    stroke-opacity: 0.2;
                }
                .nv-groups g.nv-group {
                    stroke-width:10px;
                }
                .nv-groups path.nv-area {
                    // ligther area color
                    fill-opacity: 0.1;
                }
            }
        }
    }
}

.nvtooltip thead {
    background-color: transparent;
}
