// Certification Card
.o_wprofile_slides_certif_card_body {
    height: 66px;
    > div > div:first-child {
        position: absolute;
        padding: 0px;
        top: 8px;
        left: 8px;
        width: 66px;
        height: 66px;
    }
    > div > div:nth-child(3) > span {
        position: absolute;
        right: 32px;
        top: 13px;
    }
    > div > div > div:nth-child(2) {
        position: absolute;
        bottom: 0px;
        right: 32px;
        a {
            margin-left: 8px;
            color: grey;
        }
    }
}
