.o_wslides_fullscreen_certification {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}