
.banner{
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    background-color: $primary;
    width: 256px;
    opacity: 0;
    color: #fff;
    transition: all .3s ease-out;
    z-index: 2;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
}

.banner a {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.banner a:hover{
    cursor: pointer;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.main_image{
    position: relative
}
.main_image:hover{
    .banner{
        opacity: 1;
        visibility: visible;
    }

}

.course-content {
    padding: 0;

    ul {
        list-style: none;
        padding: 0
    }
}

.course-section {
    margin: 0;
    background-color: #ddd;
    display: flex;
    list-style: none;
    font-size: 1.05rem;
    border-bottom: 1px solid #ccc
}

.content-type {
    width: 30%;
}

.content-type:hover{
    cursor: pointer;
}

.course-progress-bar{
    height: 10px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
    overflow: hidden;

    .progress-gauge{
        height: 100%;
        width: 0;
        background-color: $primary;

        transition: all .8s ease-out;
    }
}

.course-rating{
    color:$primary;
}
.course-banner{
    border-bottom: 1px solid $primary;
}

.content-tab{
    .active {

        border: none;
        border-bottom: 1px solid $secondary;
    }
}

.content-tab a:hover{
    border:none;
    border-bottom: 1px solid $secondary;
}

.content-container{
    border:none;
}

.content-slide:nth-child(odd){
    background-color: #f6f6f6;
}

.content-slide:nth-child(even){
    background-color: #f9f9f9;
}

.content-slide-controls {
    i:hover{
        color: $primary !important;
        cursor: pointer;
    }
}

.viewer-container {
    display: flex;
    align-items: stretch;
    height: 500px;
    width: 100%;
    background-color: #ccc;
    justify-content: flex-start;
}



.slide-infos {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.oe_js_player {

}

.slide-deactivated {
    pointer-events: none;
}

.slide-draggable {
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.slide-hovered{
    margin-top: 10px;
}

.section-draggable {
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.hold{
    border: solid #ccc 4px;
}


.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;
    margin: 0;
    padding: 0;
}


.sidebar-list{
    position: fixed;
    top: 46px;
    bottom: 0;
    left: 0;
    width: 300px;
    z-index: 2000;
}



.sidebar-list-visible {
    left: 50px;
}

.show-list {
    position: absolute;
    top: 15%;
    left: 50px;
    font-size: 2rem;
    z-index: 10000;
    color: #a0a0a0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
}

.hover-background {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
}

.hover-background:hover {
    opacity: 1;
}


.show-list:hover {
    cursor: pointer;
}

.change-small-screen {
    font-size: 1.5rem;
    z-index: 10000;
    color: #a0a0a0;
}

.change-small-screen:hover {
    cursor: pointer;
    border-color: $primary;
    color: $primary;
}

.sidebar-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
    height: 80px;

    a {
        color: black;
    }

    a:hover {
        color: $primary;
    }

    i:hover{
        color: $primary;
    }
}

.close-list:hover {
    cursor: pointer;
}

.fullscreen-btn{
    font-size: 2rem;
    display: inline-block;
    a {
        text-decoration: none;
        color: $text-muted;
    }
}

.fullscreen-btn:hover{
    cursor: pointer;

    a {
        color: $primary;
    }
}

.sidebar-fullscreen {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    transform: translateX(-100%);
    width: 0;
}

.fullscreen-question-container{
    background-color: #fff;
    width: 100%;
    padding-top: 20px;
    overflow: auto;
}

.fullscreen-question{
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.5);
    margin-top: 50px;
}

.question-title {
    font-size: 1.5rem;
}

.buttons-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 40px;
}

// .slide-resources {
//     border-bottom: 1px solid #ccc;
// }

.slide-resource {
    padding: 5px 50px;
    width: 100%;
    i{
        margin-right: 10px;
    }
}

.list-cell {
}


.quiz-header{
    border-bottom: 2px solid #CBCBCB;
    margin-bottom: 50px;
}

.quiz-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.quiz-good-answer{
    background-color: #C7EAE9;
}

.quiz-bad-answer{
    background-color: #FEBEBE;
}

.quiz-bad-answer label.radio-box,
.quiz-good-answer label.radio-box{
    border: none;
}

.quiz-bad-answer label.radio-box i{
    background-color: #FD0606;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quiz-ignored-answer {
    color: $text-muted;
}


.quiz-good-answer label.radio-box input:checked + i{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    border: 10px solid $primary;
    border-radius: 50px;
}

.quiz-answer {
    border-radius: 10px;
    padding: 5px 10px;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.quiz-answer:not(.quiz-good-answer,.quiz-bad-answer,.quiz-ignored-answer):hover{
    background-color: #E5E5E5;
    cursor: pointer;
}

label.radio-box{
    border: 2px solid #CBCBCB;
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    font-size: 1.2rem;
    outline: none;
}

.quiz-answer:not(.quiz-good-answer,.quiz-bad-answer,.quiz-ignored-answer) label.radio-box:hover{
    cursor: pointer;
}

label.radio-box input{
    display:none;
    outline: none;
    border: none;
}


label.radio-box span{
    color: inherit;
    padding: 20px;
}

label.radio-box input:checked + span{
    background-color: $primary;
    color: #fff;
}

label.radio-box input:checked{
    background-color: #C7EAE9;
}

.quiz-question {
    border-bottom: 2px solid #CBCBCB;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.quiz-question-answers {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 1rem;
}

.submit-quiz {
    margin-top: 20px;
}


.quiz-modal-background{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

.quiz-modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-modal{
    position: absolute;
    width: 30%;
    height: 500px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    z-index: 2000;
}
.quiz-points-container{
    font-size: 1.2rem;
}

.quiz-points {
    background-color:  #C4C4C4;
    padding: 0 4px ;
    border-radius: 10px;
    color: #fff;
}


.quiz-points-won{
    background-color: $primary;
}

.webpage-container{
    background-color: #fff;
    width: 100%;
}

.webpage-content {
    background-color: #fff;
    height: 100%;
}




