
    .o_wslides_fullscreen_quiz {
        background-color: #F6F6F6;
        width: 100%;
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 50px;

    }

    .o_wslides_quiz_question {
        margin-top: 50px;
        width: 100%;
        .o_wslides_quiz_question_title {
            font-size: 1.5rem;
            margin-bottom: 20px;
            .o_wslides_quiz_question_title_number {
                color: #8C8C8C;
                font-size: 1.3rem;
                font-weight: bold;
            }

            .o_wslides_quiz_question_title_text {
                margin-left: 2px;
                color: #2F2F2F;
            }
        }

        .o_wslides_quiz_question_answers{
            background-color: #fff;
            list-style: none;
            padding: 0;

            .o_wslides_quiz_answer {
                padding: 10px 20px;
                border-bottom: 1px solid #B6B6B6;
                font-size: 1.2rem;
                display: flex;
                align-items: center;

                label.o_wslides_quiz_radio_box{
                    background-color: #f6f6f6;
                    width: 35px;
                    height: 35px;
                    display: inline-flex;
                    border-radius: 50%;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    margin-right: 20px;
                    font-size: 1.2rem;
                    outline: none;
                    border: none;
                    padding: 0;
                }

                label.o_wslides_quiz_radio_box input{
                    display:none;
                    outline: none;
                    border: none;
                }


                label.o_wslides_quiz_radio_box span{
                    width: 18px;
                    height: 18px;
                    margin: 0;
                }

                label.o_wslides_quiz_radio_box input:checked + span{
                    background-color: $primary;
                    border-radius: 50%;
                    overflow: hidden;
                }

                label.o_wslides_quiz_radio_box input:checked{
                    background-color: #C7EAE9;
                }
            }

            .o_wslides_quiz_answer:not(.o_wslides_quiz_good_answer,.o_wslides_quiz_bad_answer,.o_wslides_quiz_ignored_answer):hover {
                cursor: pointer;
            }

            .o_wslides_quiz_good_answer{
                border: 2px solid #28A745;
                label.o_wslides_quiz_radio_box input:checked + i{
                    height: 100%;
                    width: 100%;
                    background-color: #fff;
                    color: #28A745;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    border: 10px solid #28A745;
                    border-radius: 50px;
                }
            }

            .o_wslides_quiz_bad_answer{
                border: 2px solid #A94442;

                    label.o_wslides_quiz_radio_box i{
                        background-color: #A94442;
                        color: white;
                        height: 100%;
                        width: 100%;
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
            }


            .quiz-ignored-answer {
                color: $text-muted;
            }
        }
    }

    .o_wslides_quiz_modal_background{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.2);
        width: 100%;
        height: 100%;

    }

    .o_wslides_quiz_success_modal {
        display: flex;
        position: absolute;
        width: 40%;
        max-width: 600px;
        height: 450px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2000;
    }

    .o_wslides_quiz_success_modal_left_panel {
        width: 50%;
        background-color: #855B79;

    }

    .o_wslides_quiz_success_modal_right_panel{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 50px;
        position: relative;

        .o_wslides_quiz_success_modal_close {
            position: absolute;
            top: 10px;
            right: 15px;
            text-transform: uppercase;
            color: #787878;
            font-size: 1.2rem;
        }

        .o_wslides_quiz_success_modal_close:hover{
            cursor: pointer;
        }

        h1 {
            color: #21272B;
            font-weight: bold;
            font-size: 2.3rem;
            padding: 20px 0;
            letter-spacing: 1px;
        }

        .o_wslides_quiz_success_progress_bar{
            height: 10px;
            width: 100%;
            background-color: rgba(0,0,0,.1);

            .o_wslides_quiz_success_progress_gauge{
                width: 75%;
                height: 100%;
                background-color: #01ADAB;
            }
        }

        .o_wslides_quiz_success_progress_bounds{
            display: flex;
            justify-content: space-between;
        }

        .o_wslides_quiz_success_progress_bounds{
            font-weight: bold;
            span:first-child {
                color: #019F9D;
            }
            span:last-child{
                color: #787878;
            }
        }

        .o_wslides_quiz_success_reward {
            height: 80px;
            width: 100%;
            border: 1px dashed #ccc;
            margin-top: 70px;
        }

        .o_wslides_quiz_success_button{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            a {
                color: #787878;
                text-transform: uppercase;
                background-color: #fff;
                border-radius: 3px;
                border: 1px solid #C4C4C4;
                font-weight: bold;
                padding: 5px 15px;
                text-align: center;
            }

            a:hover {
                cursor: pointer;
            }
        }
    }