// FIXME may be useless (check initial code here: https://github.com/odoo/odoo/blob/51be5bbfb38db784cb3406877cc0e8806b1bf55a/addons/website_slides/static/src/less/website_slides.less#L1)
$nav-tabs-border-color: #dddddd !default;
$info: #dddddd !default;
$body-bg: #FFFFFF !default;
$primary: #428bca !default;
$link-color: theme-color('primary') !default;
$panel-footer-bg: #f5f5f5 !default;
$nav-link-hover-bg: #FFFFFF !default;
$navbar-default-link-hover-color: #333 !default;
$light: #f8f8f8 !default;
$MAX-Z-INDEX : 2147483647 !default;

@mixin top-covered-image {
    object-fit: cover;
    object-position: top;
}


// Common to new slides pages
// **************************************************

.o_wslides_wrap {
    .text_small_caps {
        font-variant: small-caps;
    }
    .image-muted {
        opacity: 0.5;
    }
    .cta-title {
        font-size: 1.2em;
    }
}


// New home page
// **************************************************

div .o_wslides_home_nav {
    position: relative;
    top: -50px;
}

div .o_wslides_home_main {
    .o_wslides_home_header {
    }
    .o_wslides_home_footer {
    }

    .o_wslides_home_aside {
        .fa-check {
            color: #00A09D;
            font-size: 1.2em;
        }
    }
    .o_wslides_home_content_section_title, .o_wslides_home_aside_title {
        h3 {
            font-size: 1.4em;
        }
        h4 {
            font-size: 1.3em;
        }
    }

    .o_wslides_course_card {
        .card-body {
            padding: 0.75em 1em;
        }
        .card-footer {
            padding-top: 0.75em 1em;
        }
    }
    // responsive card-deck like
    .row.o_wslides_row > div[class*='col-'] {
        display: flex;
        flex:1 0 auto;
        .card {
            width:100%;
        }
    }

    // tools
    // ****************************************
    .text_small_caps {
        font-variant: small-caps;
    }

    .image-muted {
        opacity: 0.5;
    }

    .o_wslides_home_circled {
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
        padding: 0.25em 0.5em 0.25em 0.5em;
        border: 0.2em solid #666;
        text-align: center;
        box-sizing: initial;
    }

    .progress {
        overflow: visible;
        margin-bottom: 0em;
        height: 4px;
        .progress-bar {
            background-color: #00A09D;
            position: relative;
            border-radius: 4px;
            span {
                background-color: #00A09D;
                position: absolute;
                bottom: -20px;
                font-size: 10px;
                line-height: 10px;
                padding: 2px 3px 2px 4px;
                right: -1.4em;
                border-radius: 2px;
            }
            span:after {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #00A09D;
                border-width: 5px;
                margin-left: -5px;
            }
        }
    }
}

// New course page
// **************************************************

.o_wslides_container {
    margin: auto;
    width: 100%;
    max-width: 1140px;
    padding: 32px 32px 0px 32px;
}

.o_wslides_course_nav {
    margin: auto;
    background: linear-gradient(150deg, #875A7B 20%, #62495B 80%) !important;
    opacity: 0.95;

    a {
        color: #FFFFFF;
    }

    nav {
        .breadcrumb-item::before {
            font-weight: bold;
            color: #FFFFFF;
            opacity: 0.8;
        }
        .breadcrumb-item {
            a {
                font-weight: bold;
                color: #FFFFFF;
                opacity: 0.8;
                transition: opacity linear .3s;
            }
            &.active {
                a {
                    opacity: 1.0;
                }
            }
        }
        ol {
            background-color: transparent;
        }
    }
}

.o_wslides_course_header {
    margin: auto;
    background: linear-gradient(150deg, #875A7B 20%, #62495B 80%) !important;
    border-bottom: 48px solid #66445e;

    .o_wslides_course_header_container {
        top: 48px;
        padding-top: 0px;

        .o_wslides_course_header_content {
            font-size: 16px;
            color: #FFFFFF;
            .o_wslides_course_description {
                margin-right: 36px;
            }
        }

        .o_wslides_course_header_aside {
            img {
                width: 100%;
                max-width: 256px;
            }
        }
    }
}

.o_wslides_course_content {
    margin: auto;
    background-color: #f2f2f2;

    .o_wslides_content_container {
        position: relative;
        top: -80px;
    }

    // responsive card-deck like
    .row.o_wslides_row > div[class*='col-'] {
        display: flex;
        flex:1 0 auto;
        .card {
            width:100%;
        }
    }

    .o_wslides_course_content_nav {
        .o_wslides_nav_tabs {
            border-bottom: 0px;
        }
        .o_wslides_navlink {
            color: white;
            border-radius: 0px;
            height: 48px;
            font-weight: bold;
            padding-top: 12px;
            border-left: 2px solid #875A7B;
            text-align: center;
            width: 120px;
            &:hover {
                border: 0px;
                border-radius: 0px;
                background-color: #875A7B;
            }
        }
        .o_wslides_navlink.active {
            color: #212529;
            background-color: #f2f2f2;
            border: 0px;
        }
    }
    .o_wslides_course_content_main {
        h3 {
            font-size: 1.4em;
        }

        h4 {
            font-size: 1.3em;
        }

        .o_wslides_course_content_aside {
            top: 1px;
            width: 256px;
            max-width: 256px;
            margin-left: 15px;
            background-color: white;

            .o_wslides_course_aside_line {
            }
        }

        .o_wslides_lesson_card {
            .card-footer {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
            }
        }
    }
}

// Old brol to clean someday
// **************************************************

.oe_slides_panel_footer .fa, .oe_slide_js_embed_option_link{
    color : theme-color('primary');
    cursor: pointer;
}

.oe_slide_embed_option {
    position: absolute;
    padding: 30px 30px 30px 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $body-bg;
    opacity: 1;
    display:none;
    overflow-y: auto !important;
}

.oe_slide_embed_wrapper {
  position: relative;
}

section.oe_slides_promote_box {
    background-color: $panel-footer-bg;
    border-bottom: 1px solid $nav-tabs-border-color;
    border-top: 1px solid $nav-tabs-border-color;
}

img.oe_slides_channel_thumbnail {
    @include top-covered-image;
    height: 250px;
    width: 100%
}

img.oe_slides_opacity {
    opacity: .5;
}

img.oe_slides_promote_image {
    @include top-covered-image;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    display: block;
}

.oe_slides_apart_small {
    @include top-covered-image;
    height: 60px;
    width: 90px;
}

.oe_slides_statistics_title {
    border-bottom: 1px solid $nav-tabs-border-color;
    padding-bottom: 5px;
}
.oe_slides_transcript {
    overflow-y: auto;
    max-height: 500px;
}

.oe_slides_bottom_border {
   border-bottom: 1px solid $nav-tabs-border-color;
}

.o_wslides_like_up, .o_wslides_like_down {
    cursor: pointer;
    color: $link-color;
}

textarea.o_slides_comment {
    resize: vertical;
}

// Thumbnails
.oe_slides_grid_thumbnail {
    @include top-covered-image;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.oe_slides_ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.o_slide_preview {
    max-height: 160px;
    overflow: hidden;
}

// Suggested slides grid
.oe_slides_suggestion_caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(10, 10, 10, 0.75);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.oe_slides_suggestion_media {
    margin-top: 10px;
    position: relative;
}
.oe_slides_suggestion_media img {
    height: 33%;
    width: 100%;
    overflow: hidden;
}

// PDF Viewer Loader
.oe_slides_loader{
    position: relative;
    width: 100%; /* for IE 6 */
}
.oe_slides_loader h4{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 35%;

    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

// Slide display
div.embed-responsive {
    iframe.o_wslides_iframe_viewer {
        position: relative;
    }
}

// PDF Viewer Share bar
.oe_slides_share_bar{
    padding: 10px 0;
}

.oe_slides_panel_footer #page_number {
    width: 45px;
}

.oe_show_footer {
    z-index: $MAX-Z-INDEX; // Looks terrible but seems necessary due to fullscreen & canvas in PDFSlidesViewer
}


// Upload Modal
.o_wslides_select_type {
    cursor: pointer;
}